{{!-- <h1>Dashboard</h1> --}}


<h1>Welcome {{username}} to your CollegeConnect Dashbord</h1>
{{#each student}}


<div id="dash">
    <div class="card">
        <a href="/{{classes.one}}">
            <div class="container">
                <h2>{{classes.one}}</h2>
            </div>
            <img src="images/class.jpg" class="classImg">
        </a>
    </div>

    <div class="card">
        <a href="/{{classes.two}}">
            <div class="container">
                <h2>{{classes.two}}</h2>
            </div>
            <img src="images/class.jpg" class="classImg">
        </a>
    </div>
    {{#if classes.three}}
    <div class="card">
        <a href="/{{classes.three}}">
            <div class="container">
                <h2>{{classes.three}}</h2>
            </div>
            <img src="images/class.jpg" class="classImg">
        </a>
    </div>
    {{/if}}
    {{#if classes.four}}
    <div class="card">
        <a href="/{{classes.four}}">
            <div class="container">
                <h2>{{classes.four}}</h2>
            </div>
            <img src="images/class.jpg" class="classImg">
        </a>
    </div>

    {{/if}}
    {{#if classes.five}}
    <div class="card">
        <a href="/{{classes.five}}">
            <div class="container">
                <h2>{{classes.five}}</h2>
            </div>
            <img src="images/class.jpg" class="classImg">
        </a>
    </div>

    {{/if}}
</div>
{{/each}}
<center>
    <div id="right-bar">
        <div id="to-do">
            <h2>To-Do</h2>
            <div id="notif">
                <div id="notifHeader">
                    <strong>Midterms graded</strong>
                </div>
                <div id="notifBody">
                    Mar 14 at 9:40pm
                </div>
            </div>

            <div id="notif">
                <div id="notifHeader">
                    <strong>{Header}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>
        </div>
        <div id="recent">
            <h2>Feedback/Notifs</h2>
            <div id="notif">
                <div id="notifHeader">
                    <strong>Module 3 - Assignment</strong>
                </div>
                <div id="notifClass">
                    <strong>Data Visualization - CTS4457</strong>
                </div>
                <div id="notifBody">
                    "Looks good!"
                </div>
            </div>
            <div id="notif">
                <div id="notifHeader">
                    <strong>{Assignment}</strong>
                </div>
                <div id="notifClass">
                    <strong>{Class}</strong>
                </div>
                <div id="notifBody">
                    {Body}
                </div>
            </div>
        </div>
    </div>
</center>


